<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="me.itangqi.buildingblocks"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- PlacePicker also requires OpenGL ES version 2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name=".domain.application.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Base.Theme.AppTheme.Light">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- Replace with your API_KEY -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDWF5Al83s2a9P1JctqM3um9usNXEpVa2U"/>

        <activity
            android:name=".view.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Root.Theme.AppTheme.Light">
        <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.ui.activity.SearchResultActivity"/>
        </activity>

        <activity android:name=".view.ui.activity.SearchResultActivity"
                  android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity android:name=".view.ui.activity.WebActivity"
            android:hardwareAccelerated="true"/>

        <activity android:name=".view.ui.activity.GsonViewActivity" android:hardwareAccelerated="true"/>

        <activity android:name=".view.ui.activity.PickPhotoActivity"/>

        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>

        <activity android:name=".view.ui.activity.GooglePlacesActivity"/>

        <activity android:name=".view.ui.activity.PrefsActivity"/>

        <activity android:name=".view.ui.activity.AboutActivity"/>

        <service android:name=".domain.service.Updater"/>

    </application>
</manifest>
